{% extends 'base.html.twig' %}

{% block title %}Device{% endblock %}

{% block body %}
    <h1>Device</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ device.id }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ device.brand }}</td>
            </tr>
            <tr>
                <th>IMEI</th>
                <td>{{ device.imei }}</td>
            </tr>
            <tr>
                <th>SN</th>
                <td>{{ device.serialNumber }}</td>
            </tr>
            <tr>
                <th>PN</th>
                <td>{{ device.phoneNumber }}</td>
            </tr>
            <tr>
                <th>GoogleAccount</th>
                <td>{{ device.googleAccount }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ device.Note }}</td>
            </tr>
            <tr>
                <th>Aplikace</th>
                <td>
                    {% for application in device.applications %}
                        {{application.name}}
                    {% else %}
                        Žádné aplikace přiřazené nejsou
                    {%endfor%}
                </td>
            </tr>
        </tbody>
    </table>


    {{ include('device/_delete_form.html.twig') }}

    <a href="{{ path('app_device_index') }}">Zpět na seznam zařízení</a>

    <a href="{{ path('app_device_edit', {'id': device.id}) }}">Úprava</a>   

    
{% endblock %}
